

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&family=Playfair+Display:wght@400;600;800&display=swap');


/* ocean blue
#456d7c 
rgb 69, 109, 124

 light blue 
#3f636b
69, 169, 192, 1 

surfie greeen
#3f636b
19, 114, 137, 1

Teal blue
#3f636b
4, 73, 89, 1

fountain blue
107, 169, 196, 1

burbon orange 
192, 129, 30, 1

bronze dark brown orange 
58, 37, 7, 1

fern frond green
103, 113, 35

luxor gold sort of a light olive green 
153, 143, 44, 1

aqua haze almost white
237, 244, 244, 1

*/


html {
    font-family: 'Nunito', sans-serif;
    background: #eee;
    padding: 1rem;
  }
  
  body {
    max-width: 960px;
    margin: 0 auto;
    background: rgba(237, 244, 244, 1)  
  }

  content {
    max-width: 960px;
    margin: 0 auto;
    background: rgba(237, 244, 244, 1)  
  }
  div .top_wave img {
    max-width: 960px;
   
    z-index: -1;
  }   
  
  h1 {
    font-family: 'Playfair Display', serif;
    color: #377ba8;
   font-size: 4em;
    margin: 1rem 0;
  }
  
  
  h2 {
    font-family: 'Playfair Display', serif;
    color: #377ba8;
  }
  
  h2 span {
    display:block;
    text-indent: 1em;
    }

  h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    color: rgba(58, 37, 7, 1);
    margin: 1rem 0;
  }
  
  a {
    color: #377ba8;
  }
  
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }
  
 
  nav {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    background-color: rgba(61,223,243);;
   
        
  }
  nav h1 {
    flex: auto;
    margin: 0;
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
    font-family: 'Nunito', sans-serif;
    color: rgba(58, 37, 7, 1);
    font-weight: 900;
   
    
  }
  
  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
   
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;

  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .post .about {
    color: slategray;
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
  }
 
  